{% extends 'Templates/Base/Base.html' %}

{% block content %}
<div class="untree_co-hero pb-0" id="home-section">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center" style="padding: 2rem 0rem;">

            <div class="login-wrap" data-aos="fade-up" data-aos-delay="0">
                <span class="caption d-flex align-items-center justify-content-center"
                    style="padding: 10px 0px;">Welcome to Dr. Saheb!</span>

                <form class="form" method="post">
                    {% csrf_token %}
                    <select class="form-select" aria-label="Default select example" name="role" required>
                        <option selected>I am a..</option>
                        {% for value, label in roles %}
                        <option value="{{value}}">{{label}}</option>
                        {% endfor %}
                    </select>
                    <input type="email" placeholder="Email" name="user" required />
                    <input type="text" placeholder="First Name" name="fname" required />
                    <input type="text" placeholder="Last Name" name="lname" required />
                    <input type="password" placeholder="Password" name="psw" required />
                    <input type="text" placeholder="Confirm Password" name="cpsw" required />
                    <button type="submit"> Register </button>
                    {% if messages %}

                    {% for message in messages %}
                    <span class="caption d-flex align-items-center justify-content-center"
                        style="padding: 10px 0px; color: red;">{{message}}</span>
                    {% endfor %}

                    {% else %}
                    {% endif %}
                    <a href="{% url 'account:sign-in' %}">
                        <p> Already have an account? Sign-In Now </p>
                    </a>
                </form>


            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->
    <!-- <div class="illustration">
      
    </div> -->
</div>

{% endblock %}