<div class="site-footer">

  <div class="footer-dots"></div> <!-- /.footer-dots -->
  <div class="container">

    <div class="row">
      <div class="col-lg-4">
        <div class="widget">
          <h3>About Dr. Saheb<span class="text-primary">.</span> </h3>
          <p>It was all began in 2021, when Patients were worried during the Covid Period and there were hardly any doctors available. Those who were available, were unable to reach the needy patients. Dr. Saheb began with a vision of helping the Patients across the Nation to reach the Doctors instantly!
          </p>
        </div> <!-- /.widget -->
        <div class="widget">
          <h3>Follow Us</h3>
          <ul class="list-unstyled social">
            <li><a href="#"><span class="icon-instagram"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-pinterest"></span></a></li>
            <li><a href="#"><span class="icon-dribbble"></span></a></li>
          </ul>
        </div> <!-- /.widget -->
      </div> <!-- /.col-lg-3 -->

      <div class="col-lg-2 ml-auto">
        <div class="widget">
          <h3>Project</h3>
          <ul class="list-unstyled float-left links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="/blogs/">Blogs</a></li>
          </ul>
        </div> <!-- /.widget -->
      </div> <!-- /.col-lg-3 -->

      <div class="col-lg-2">
        <div class="widget">
          <h3>Services</h3>
          <ul class="list-unstyled float-left links">
            <li><a href="{% url 'services' %}">Meet Our Heroes</a></li>
            <li><a href="#">Order Medicines (Launching Soon)</a></li>
            <li><a href="/blogs/">Get Health Tips</a></li>
            <li><a href="/blogs/">Read Blogs</a></li>
          </ul>
        </div> <!-- /.widget -->
      </div> <!-- /.col-lg-3 -->


      <div class="col-lg-3">
        <div class="widget">
          <h3>Quick Contact</h3>
          <address>Gurugram, Haryana</address>
          <ul class="list-unstyled links mb-4">
            <li><a href="tel://11234567890">+91 875-650-5579</a></li>
            <li><a href="mailto:info@mydomain.com">care@drsaheb.com</a></li>
          </ul>
        </div> <!-- /.widget -->
      </div> <!-- /.col-lg-3 -->

    </div> <!-- /.row -->

    <div class="row mt-5">
      <div class="col-12 text-center">
        <p class="copyright">Copyright &copy;
          <script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
        </p>
      </div>
    </div>
  </div> <!-- /.container -->
</div>