<nav class="site-nav dark js-site-navbar mb-5 site-navbar-target">
  <div class="container">
    <div class="site-navigation">
      <a href="/" class="logo m-0 float-left">Dr<span class="text-primary">.</span>Saheb!</a>

      <ul class="js-clone-nav d-none d-lg-inline-block site-menu float-left">
        <li class="active"><a href="/" class="nav-link">Home</a></li>
        
        <li><a href="{% url 'about' %}" class="nav-link">About Us</a></li>
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'services' %}" class="nav-link">Services</a></li>
        <li><a href="{% url 'blog:blogs' %}" class="nav-link">Blogs</a></li>
        {% endif %}
      </ul>

      <ul class="js-clone-nav d-none mt-1 d-lg-inline-block site-menu float-right">
        {% if request.user.is_authenticated %}
        <li class="has-children">
          <a href="#" class="nav-link">Hey, {{ request.user.first_name }}!</a>
          <ul class="dropdown">
            <li><a href="/profile/{{request.user.username}}" class="nav-link">My Profile</a></li>
            <li><a href="{% url 'bookings' %}" class="nav-link">My Bookings</a></li>
            <li class="active"><a href="{% url 'sign-out' %}" class="nav-link">Logout</a></li>
          </ul>
        </li>
        {% else %}
        <li class="cta-button-outline"><a href="{% url 'account:sign-in' %}">Sign in</a></li>
        <li class="cta-primary"><a href="{% url 'account:register' %}">Register</a></li>
        {% endif %}
      </ul>



      <a href="#" class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block dark d-lg-none"
        data-toggle="collapse" data-target="#main-navbar">
        <span></span>
      </a>

    </div>
  </div>
</nav>