{% extends 'Base/Base.html' %}

{% block content %}
<div class="untree_co-hero pb-0" id="home-section">
    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="row justify-content-center">
                    <div class="col-md-7 text-center mb-5">
                        <h1 class="heading" data-aos="fade-up" data-aos-delay="0">
                            About Us
                        </h1>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-12">
                        <div class="intro">
                            <div class="excerpt" data-aos="fade-up" data-aos-delay="100">
                                It was all began in 2021, when Patients were worried during the Covid Period and there were hardly any doctors available. Those who were available, were unable to reach the needy patients. Dr. Saheb began with a vision of helping the Patients across the Nation to reach the Doctors instantly! The Company has a remarkable 3+ years of Service in the field of Health Care. Now we are expanding ourselves to promise a greater Service by providing Medicines, Health Insurances for Future and much more. We promise a Happy and Prosperous life with us! <span class="row align-items-center justify-content-center font-weight-bold">Stay Safe and Stay Happy! 🌿</span> 
                            </div> <!-- /.excerpt -->
                        </div>

                    </div> <!-- /.col-lg-5 -->
                </div>
            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->
    <!-- <div class="illustration">
      
    </div> -->
</div>



{% endblock %}