{% extends 'Base/Base.html' %}

{% block content %}


<div class="untree_co-hero pb-0" id="home-section">
    <div class="container">
        <div class="row">

            <div class="col-12">

                <div class="row justify-content-center">
                    <div class="col-md-7 text-center mb-5">
                        <h1 class="heading" data-aos="fade-up" data-aos-delay="0">Caring 👨‍⚕️ for a
                            <span class="d-block" style="color: #1E85F0;">Better Tommorow</span>
                        </h1>
                    </div>
                </div>
                <div class="row align-items-center justify-content-center">

                    <div class="col-lg-6">
                        <div class="intro">

                            <div class="excerpt" data-aos="fade-up" data-aos-delay="100">
                                <span class="caption">Welcome to Dr. Saheb!</span>
                                <h2 class="font-weight-bold">Reach out Our HealthCare Heroes</h2>
                                <p>The Portal lets you reach one of the Topmost doctors across your City! Get Medical
                                    remedies, Meet them and Stay Healthy!</p>
                            </div> <!-- /.excerpt -->
                            <p data-aos="fade-up" data-aos-delay="200">
                                <a href="#features-section" class="btn btn-primary smoothscroll mr-1">Meet Our
                                    Heroes</a>
                                <a href="#pricing-section" class="btn btn-outline-primary smoothscroll">Read Blogs</a>

                            </p>
                        </div>

                    </div> <!-- /.col-lg-5 -->
                    <div class="col-lg-6">
                        <div class="illustration">
                            <img src="/Static/Images/hero.jpg" alt="Image" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- /.row -->
    </div> <!-- /.container -->
    <!-- <div class="illustration">
      
    </div> -->
</div>


{% endblock %}